In [2]:
import http.client

conn = http.client.HTTPSConnection("open-weather13.p.rapidapi.com")
city = input("Which city's weather would you like to view?\n").strip()
headers = {
    'x-rapidapi-key': "7812bef7f6msh9a548bd33e2217ep1451a1jsn7eb63b71e5d7",
    'x-rapidapi-host': "open-weather13.p.rapidapi.com"
}

conn.request("GET", "/city/"+city+"/EN", headers=headers)

res = conn.getresponse()
data = res.read()

print("Name:",)
print(data.decode('utf-8'))

Which city's weather would you like to view?
vijayawada
Name:
{"coord":{"lon":80.6167,"lat":16.5167},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"base":"stations","main":{"temp":94.95,"feels_like":107.55,"temp_min":94.95,"temp_max":94.95,"pressure":1003,"humidity":55,"sea_level":1003,"grnd_level":999},"visibility":6000,"wind":{"speed":11.5,"deg":320},"clouds":{"all":40},"dt":1726818307,"sys":{"type":1,"id":9207,"country":"IN","sunrise":1726791980,"sunset":1726835740},"timezone":19800,"id":1253184,"name":"Vijayawada","cod":200}